*{
    box-sizing: border-box;
}

// Import google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.row{
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.active{
    color: #fff !important;
    background: #81B214;

    pointer-events: auto !important;
    cursor: pointer !important;

    transition: .5s;
}

// Import header styles
@import "_inc_style/header";

// Import basic styles for main section
@import "_inc_style/main";

// Import footer styles
@import "_inc_style/footer";

// Import login styles
@import "_inc_style/login";

// Import admin dashboard styles
@import "_inc_style/dashboard";

// Import admin edit styles
@import "_inc_style/edit";

// Import admin delete styles
@import "_inc_style/delete";

// Import admin delete styles
@import "_inc_style/add_new";

// Import admin delete styles
@import "_inc_style/responzive";