#page3{
    form{
        max-width: 500px;

        .form_row{
            display: flex;
            gap: 20px;
        }

        input{
            display: inline-block;
            background: $input-background;
            outline: none;
            padding: $input-padding;
            border: $input-border;
            border-radius: $input-border-radius;
            margin-bottom: $input-margin-bottom;
            color: $input-color;

            width: 100%;
        }
    
        textarea{
            display: block;
            background: $input-background;
            outline: none;
            padding: $input-padding;
            border: $input-border; 
            border-radius: $input-border-radius;
            margin-bottom: $input-margin-bottom;
            color: $input-color;

            width: 100%;
        }
    
        input[type="submit"]{
            background: $main_green;
        }

        .disabled{
            opacity: .5;
            pointer-events: none;
        }
    }
}